.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.header-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 46rem;
  list-style-type: none;
}

.header-list-item {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.sign-in-btn {
  padding: 0.5rem 1rem;
}
.sign-in-btn:hover {
  cursor: pointer;
}
